<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354650504440-vmtta3h2dd6niiqogpsj6prcbvnctjqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354650504440-vmtta3h2dd6niiqogpsj6prcbvnctjqj</string>
	<key>API_KEY</key>
	<string>AIzaSyAh0JXrev3gcZsjkblMxySajlPuzxqXI5M</string>
	<key>GCM_SENDER_ID</key>
	<string>354650504440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ciklum.mobile.datingApp</string>
	<key>PROJECT_ID</key>
	<string>ciklum-flutter-course</string>
	<key>STORAGE_BUCKET</key>
	<string>ciklum-flutter-course.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354650504440:ios:767709021d384bfc1a8f0d</string>
	<key>DATABASE_URL</key>
	<string>https://ciklum-flutter-course.firebaseio.com</string>
</dict>
</plist>